%h1
  = Channel.model_name.human
  .btn-group.pull-right
    %a.btn{href: new_channel_path} Add

- @channels.each do |channel|
  .channel.clearfix
    %h2
      %a{href: channel_path(channel)}= channel.title
    - if channel.image?
      = image_tag channel.image.url, style: "float: left; margin: 0 1em 1em 0; width: 200px;"
    %p= channel.description
    %p= link_to "Feed", channel_feed_url(channel, auth_token: current_user.authentication_token)
