!!! xml
%rss(version="2.0" xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd")
  %channel
    %title= @channel.title
    %link= channel_url
    %description= @channel.description
    - if @channel.image?
      %itunes:image{href: @channel.image.url}
    - @channel.items.recent.each do |item|
      %item
        %title= item.title
        %itunes:subtitle= item.subtitle
        %itunes:summary
          :cdata
            #{br(item.summary)}
        / - content_length = item.content.size rescue nil
        / - logger.error "#{item.title} (id: #{item.id}) has no content length" unless content_length
        / %enclosure{url: item.content.url, length: (item.content.size rescue nil), type: "audio/mpeg"}/
        %enclosure{url: item.content.url, type: "audio/mpeg"}/
        %guid= channel_item_url(@channel, item)
        %description
          :cdata
            #{br(item.description)}
        %pubDate= item.published_at.rfc2822

