!!! xml
%rss(version="2.0")
  %channel
    %title= @channel.title
    %link= channel_url
    %description= @channel.description
    - @channel.items.recent.each do |item|
      %item
        %title= item.title
        - content_length = item.content.size rescue nil
        - logger.error "#{item.title} (id: #{item.id}) has no content length" unless content_length
        %enclosure{url: item.content.url, length: (item.content.size rescue nil), type: "audio/mpeg"}/
        %guid= channel_item_url(@channel, item)
        %description= item.description
        %pubDate= item.published_at.rfc2822

