= form_for(@item, url: @item.persisted? ? channel_item_path(@channel, @item) : channel_items_path(@channel), html: {class: "form-horizontal", multipart: true}) do |f|
  - if @item.errors.any?
    %ul.alert.alert-error.validation-errors
      - @item.errors.full_messages.each do |message|
        %li= message

  .control-group
    = f.label :content, class: "control-label"
    .controls
      = f.file_field :content
  .control-group
    = f.label :title, class: "control-label"
    .controls
      = f.text_field :title
  .control-group
    = f.label :description, class: "control-label"
    .controls
      = f.text_area :description
  .control-group
    = f.label :published_at, class: "control-label"
    .controls
      = f.datetime_select :published_at
  .control-group
    .controls
      = f.submit class: "btn btn-primary"
      - if @item.new_record?
        %a.btn{href: channel_items_path(@channel)} Cancel
      - else
        %a.btn{href: channel_item_path(@channel, @item)} Cancel

