= content_for :search_form do
  = form_for(@query, url: channel_items_path(@channel), method: :get, html: {class: "navbar-form navbar-right", style: "max-width: 200px;"}) do |f|
    .form-group
      .input-group
        = f.text_field :keywords, class: "form-control"
        %span.input-group-btn
          %button.btn.btn-default{type: "submit"}
            = icon("search")

%h1
  = @channel.title

- @items.each do |item|
  .item
    %h2.item-title= item.title
    %audio.player{preload: "none", controls: true,  src: item.content.url}
    %ul.item-metadata
      %li= link_to(icon("download") + t("download"), channel_item_download_path(@channel, item))
      %li= icon("time") + item.published_at.strftime("%Y年%m月%d日 %H:%M") if item.published_at
      %li= link_to(icon("pencil") + "Edit", edit_channel_item_path(@channel, item))
      %li= link_to(icon("trash") + "delete", channel_item_path(@channel, item), method: :delete, data: {confirm: "Are you sure?"})
    %p= br item.description

= paginate @items
