%h1
  = Item.model_name.human
  .btn-group.pull-right
    %a.btn{href: new_channel_item_path} Add

- @items.each do |item|
  .item
    %h2
      %a{href: channel_item_path(@channel, item)}= item.title
    %audio.player{preload: "none", controls: true,  src: item.content.url}
    %ul
      %li= link_to t("download"), channel_item_download_path(@channel, item)
      %li= l item.published_at
    %p= br item.description

= paginate @items
