= form_for @query, url: channel_items_path(@channel), method: :get do |f|
  .input-group
    = f.text_field :keywords, class: "form-control"
    %span.input-group-btn
      %button.btn.btn-default{type: "submit"}
        = icon("search")

%h1
  = @channel.title

- @items.each do |item|
  .item
    %h2= item.title
    %audio.player{preload: "none", controls: true,  src: item.content.url}
    %ul.item-metadata
      %li= link_to(icon("download") + t("download"), channel_item_download_path(@channel, item))
      %li= icon("time") + item.published_at.strftime("%Y年%m月%d日 %H:%M")
    %p= br item.description

= paginate @items
